<div class="wrapper subscribe">
    <div class="copy">
        <p>Wellcome to Silky Pets in our monthly newsletter you will find a lot of useful information and tip on how to keep your pet healthy and happy, and how to be a successful and happy owner as well.</p.>

<p>You will get notifications about our most useful and newer products and accessories for your pets to enjoy, and amazing promotions and discounts available only to our subscribers.</p>

<p><em>Stay Silky!</em></p>
    </div>
    <div class="form">
        <div class="AW-Form-660078462"></div>
<script type="text/javascript">(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//forms.aweber.com/form/62/660078462.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "aweber-wjs-sxo5z5q5w"));
</script>
    </div>
</div>